body {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex: 1 0 auto;
}

.page-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.page-content .mdl-textfield {
  display: block;
}

.mdl-mini-footer {
  justify-content: center;
}

.mdl-layout__header {
  background-color: #3f91b5;
}

.button {
  display: flex;
  justify-content: center;
}

form {
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  box-shadow: 5px 5px 5px #d9d9d9;
  padding: 20px;
}

.mdl-mini-footer {
  padding: 16px;
}
