body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.page-content .mdl-textfield {
  display: block;
}

.mdl-mini-footer {
  justify-content: center;
}
